.MovesList {
    background-color: $clr6;
    border-radius: 0.5rem;
    padding: 1rem;
    h3 {
        border-bottom: 1px solid $clr5;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        border-bottom: 1px solid $clr5;
    }
}