.ContactEditPage {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        svg {
            width: 1.5rem;
        }
        button {
            border: none;
            padding: 0;
            background-color: $clr7;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .ImgContainer {
            width: 7.4rem;
            height: 7.4rem;
            background-color: $clr6;
            border-radius: 50%;
            margin-bottom: 1.4rem;
        }
        section {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            label {
                padding-top: 0.25rem;
                span {
                    color: $clr1;
                }
            }
            input {
                width: 85%;
                margin-bottom: 1.4rem;
            }
        }
        button {
            align-self: flex-end;
        }
    }
}