.AppLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .ContentContainer {
        width: calc(100% - #{$container-margin});
        max-width: $container-width;
        margin: 0 auto;
        padding-top: 5rem;
        flex-grow: 1;
    }
    footer {
        text-align: center;
        small {
            font-size: 0.9rem;
        }
        padding: 1.25rem 0;
    }
}